body {
  background-color: #2C2F33;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Calibri;
  padding: 12px 20px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#nav-items:hover {
  background: rgba(255, 255, 255, 0.2);
}

.button {
  background-color: rgb(57, 148, 255);
  color: white;
  transition: background 0.15s ease-out 0s;
  padding: 8px 14px;
  border-radius: 6px;
}

.button:hover {
  background: rgb(0, 118, 255);
}

.nav-item {
  list-style-type: none;
  color: white;
  padding: 6px;
}

.nav-item>a {
  text-decoration: none;
  color: white;
}

.nav-item>a:visited {
  text-decoration: none;
}

.changelog {
  margin: 0 auto;
  width: 60%;
}

.changelog .title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  justify-content: center;
}

.changelog .accordion {
  background-color: #36393f;
  border-radius: 10px;
  margin-top: 10px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
}

.changelog .active,
.changelog .accordion:hover {
  background-color: rgb(100, 100, 100);
}

.changelog .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#changelog {
  font-family: "Poppins", "sans-serif";
}