body {
  background-color: #2C2F33;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Calibri;
  padding: 12px 20px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#nav-items:hover {
  background: rgba(255, 255, 255, 0.2);
}

.button {
  background-color: rgb(57, 148, 255);
  color: white;
  transition: background 0.15s ease-out 0s;
  padding: 8px 14px;
  border-radius: 6px;
}

.button:hover {
  background: rgb(0, 118, 255);
}

.nav-item {
  list-style-type: none;
  color: white;
  padding: 6px;
}

.nav-item>a {
  text-decoration: none;
  color: white;
}

.nav-item>a:visited {
  text-decoration: none;
}